<div class= "column is-one-third">
  <div class="card">
    <div class="card-content">
      <p class="title">

        <%= link_to product.name, product %>

      </p>
      <% if product.image.present? %>
        <div class="card-image">
          <figure class="image">
            <%= image_tag product.image, style: 'height: 200px; width: 200px' %>
          </figure>
        </div>
      <% end %>
      <p class="subtitle">
        $<%= product.price %>
      </p>
      <p>
        <%= product.company.name %>
      </p>
      <% if cart.include?(product) %>
        <%= button_to cart_path(product), method: :delete do %>
        Remove from cart ⊖
        <% end %>
      <% else %>
        <%= form_with url: cart_index_path, method: :post do %>
          <%= hidden_field_tag(:id, product.id)%>
          <%= button_tag 'Add to Cart ➕' %>
        <% end %>
      <% end %>



    </div>
  </div>

</div>