
<header>
  <nav class="navbar">
    <div class="navbar-brand">
      <%= image_tag "logo.jpg" %>
    </div>

    </div>
    <div class="navbar-menu">
      <%= link_to "Home", products_index_path, class: "navbar-item" %>
      <%= link_to "Categories", categories_index_path, class: "navbar-item" %>
      <% if shopper_signed_in? %>
        <div class="navbar-item"> Welcome <%= current_shopper.email %> </div>
          <%= button_to "Sign out", destroy_shopper_session_path, method: :delete, class: "navbar-item" %>
        <% else %>
          <%= link_to "Sign in", new_shopper_session_path, class: "navbar-item" %>
      <% end %>

      <div class="navbar-end">
        <div class="navbar-item">
          <%= form_with(url: products_search_path, local: true, method: "get", class: 'mt-5 mb-5') do %>
            <div class="field has-addons">
              <div class="control">
                <%= select_tag 'category', options_for_select(Category.all.map{|el| [el.name, el.id]}), { prompt: "Select Category", class: "form-control" } %>
              </div>
              <div class="control">
                <%= text_field_tag(:search, nil, class: 'input', placeholder: 'Search Products') %>
              </div>
              <div class="control">
                <%= submit_tag("Search", class: "button is-info") %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>


  </nav>
</header>